body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/21/10/01/desktop-3246124_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
}
.jumbotron {
    background: rgb(0, 255, 255, .3); 
}
.container {
    background: rgba(17, 40, 243, 0.3);
    text-align: center;
    box-shadow: 5px 5px 2.5px black;
    font-family: 'Times New Roman', Times, serif;
}
.container:hover {
    box-shadow: 10px 10px 5px black;
}
.table {
    background: rgba(17, 40, 243, 0.3);
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    font-style: bold;
}